.hero-container {
    text-align: center;
}
.content {
    height: 70vh;
}
.text-content {
    position: absolute;
    top: 23%;
    left: 36%;
    transform: translate(-50% -50%);
    color: #fff;
    border-radius: 20px;
    font-size: 2rem;
}
.text-content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    font-family: 'Nova Square', cursive;
}
.text-content p {
    padding: 0 20px;
    margin-top: 1%;
    font-size: 20px;
    line-height: 34px;
}
.text-content button {
    color: #fff;
    margin-top: 4%;
    padding: 3% 7%;
    font-size: 0.9rem;
    text-transform: uppercase;
    background: #2A9135;
    border-radius: 5px;
    border: none;
}