.hero-container {
    text-align: center;
}
.content {
    height: 70vh;
}
.text-content {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 32%;
    transform: translate(-50% -50%);
    color: #fff;
    border-radius: 20px;
    font-size: 2rem;
}
.text-content:nth-child(2) {
    margin-bottom: 20%;
}
.text-content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    font-family: 'Nova Square', cursive;
}
.text-content p {
    width: 100%;
    padding: 0 25px;
    margin-top: 1%;
    font-size: 19px;
    line-height: 34px;
    height: 15vh;
    text-align: center;
}
.hero-button {
    color: #fff; 
    padding: 1rem 2.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    background: #2A9135;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 47%;
    bottom: 90px;
    transition: 0.5s ease;
}
.hero-button:hover {
    background: transparent;
    border: 1px solid #2A9135;
    transition: 0.5s ease;
}