.content {
  height: 80vh;
}
.text-content {
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 5px 15px;
  transform: translate(-50% -50%);
  background: gray;
  color: #fff;
  border-radius: 20px;
  font-size: 2rem;
}