@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

body {
  overflow-x: hidden;
}